@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf);
}


@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf);
}


@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf);
}

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf);
}

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf);
}

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf);
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}

.clear{
  content: " ";
  display: table;
  clear: both;
  }

$text-color: #fff;
$background-color: #fff;
$green : #86e9cb;
$blue: #86e9e4;
$pink: #FFD1DC;
$lightgreen : #97ffe0;

@mixin p-text{
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 18px;
}
@mixin p-header-text{
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

h1, h2, h3, h4{
    font-family: LANEAR;
    text-transform: uppercase;
}


.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header-image{
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

body{
  background-color: $background-color;
  margin: 0px;
}

p{
  color: black;
}

body, html{
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.66);
    z-index: 2;
    #logo {
        text-indent: -999rem;
        padding: 0;
        background-size: cover;
        margin-top: 5px;
        margin-left: 20px;
        //width: 165px;
        width: 200px;
        //height: 63px;
        height: 79px;
        margin-bottom: 5px;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        z-index: 2;
    }
    h1 {
        float: left;
    }
}


/*Hide checkbox*/
input[type=checkbox]{
   display: none;

}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    //display: block;
    opacity: 1;
    height: auto;
}

#menu {
    //display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}



.show-menu {
    display: block;
    text-align: right;
    padding-top: 25px;
    padding-right: 17px;
    vertical-align: middle;
}

nav ul{
    margin-top: 20px;
    list-style: none;
    padding-right: 25px;
    li{
        font-family: lato, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 0 25px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.42);
        padding: 9px 0;
        a{
            color: $text-color;;
            &:hover{
                color:pink;
            }
        }

    }
}

/* ---- Offers ----*/

.offer-picture{
  border-radius: 50%;
}

.offer{
  margin: auto;
  padding: 20px 60px 10px 60px;
  img{
    width: 100%;
    height: 100%;
  }

  .offer-header{
    @include p-header-text;
    text-transform: uppercase;
    text-align: center;
  }

  .offer-text{
    @include p-text;
    text-align: center;
  }
}

.size-new-size{
  border-radius: 50%;
}
/* ---- End Offers ----*/

/* ---- Introduction ---- */

.introduction{
  background-color: $green;
  p {
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-bottom: 0px;
    @include p-text;
    color: white;
  }
  h2{
    @include p-header-text;
    text-transform: inherit;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;

  }

  .intro-header{
    @include p-header-text;
    color: white;
    font-size: 25px;
    }
}


.icons{
  width: 40px;
  &:hover{
    cursor: pointer;
  }
}
.social-media{
  text-align: center;
  margin-top: 10px;
  a{
    padding: 5px;
  }
}

.instagram{
  display: none;
  padding: 0px 20px 0px 20px;
}

/* ---- End Introduction ---- */

/* ---- About ---- */
.about-employee{
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    &:hover{
      opacity: 0.8;
    }
  h2{
    font-size: 1.2em;
    display:inline;
  }
  .about-employee-img{
    min-width: 150px;
    min-height: 150px;
    width: 50%;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    border-radius: 50%;
    }
}

/* ---- End About ---- */
.title-line {
  height: 1px;
  border-top: 1px solid grey;
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 5%;
}
/* ---- Services ---- */
.service{
    @include p-text;
      text-align: center;
      margin-bottom: 5px;
      position: relative;
      transition: opacity 200ms ease-in-out;
      -webkit-transition: opacity 200ms ease-in-out;
    &:hover{
      opacity: 0.8;
    }
  h2{
    font-size: 1.2em;
    display:inline;
  }
  .service-img{
    width: 350px;
    height: 230px;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;
    border: 4px solid #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
    }
}

/* ---- End Services ---- */

/* ---- Contact ----*/
.below-header{
    padding-top: 90px;
}

.contact{
    .header-text{
        padding-left:10px;
    }
    @include p-text;
    p{
        text-align: left;
    }
    .contact-map{
        padding-top: 43px;
    }
    label{
        font-size: 15px;
    }
    .contact-intro{
        background-color: white;
    }

    .map{
        pointer-events: none;
    }
    .contact-info{
        background-color: #86e9cb;
        padding-top: 27px;
        p{
            padding-left: 25px;
        }
    }
    h2{
        text-align: center;
        color: white;
    }
    .contact-map{
        form{
            text-align: center;
            #submit{
                background-color:$green;
                color:white;
            }
        }
        h3{
            text-align: center;
            color: $blue;
        }
    }


}

/* ---- Footer ---- */

.footer{
  img{
    display: block;
    margin: auto;
  }
  a{
    color: black;
  }
  background-color: rgba(151, 255, 224, 0.2);
  .footer1{
    &:first-child {
      padding: 0px 30px 0px 30px;
      margin-top: 12px;
      margin-bottom: -20px;

    }
  }
  .footer-header{
    @include p-header-text;
    text-transform: uppercase;
    //border-top: 5px solid $blue;
    margin-right: 300px;

  }
  @include p-text;
  li{
    list-style: none;
    text-align: center;
    margin-bottom: 0px;
  }

  .footerparts{
    &:first-child {
      margin-top: 5px;
      margin-bottom: -28px;
    }
  }
}
.contact-icon{
  width: 47px;
  padding-bottom: 5px;
}
.contact-icon-large{
  width: 25px;
  padding-bottom: 4px;
}
.copy{
  font-size: 10px;
  margin-bottom: 1px;
  text-align: center;
  background-color: white;
}
/* ---- End Footer---- */

/* ---- About---- */

.about-us{

}


  .workers{
    //background-color: rgba(151, 255, 224, 0.6);
    background: -webkit-radial-gradient(center, ellipse cover, #fcfff3 0%, #d2fce4 100%);
    padding: 8px 8px 0px 8px;
    margin-left: 0px;
    width: 50%;
    img {
      width:100%;
      height:100%;
      box-shadow: inset 2px 2px 2px 2px #CCC;
    }
    p{
      margin-bottom: 5px;
      text-align: center;
      @include p-text;
    }
    li{
      list-style: none;
      @include p-text;
      margin-bottom: 0px;
      text-align: center;
      &:first-child{
        font-size: 20px;
        border-top: 2px solid $blue;
        padding-bottom: 5px;
      }
      &:last-child{
        font-size: 15px;
      }
    }
  }
  h2{
    padding-top: 20px;
    text-align: center;
  }


/* ---- End About---- */

/*MEDIA QUERIES */
@media (min-width: 480px) {
.instagram{
  display: block;
}
  .social-media{
    margin-top: -40px;
  }
}

/* Larger than mobile */
@media (min-width: 340px) {
  .about-employee{
    width: 50%;
  }
  }

/* Tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .offer{
    padding: 20px;
  }
  .three.columns{
    width: 50%;
    padding: 20px 30px 10px 30px;
  }

  .instagram{
    padding: 0px 20px 0px 20px;
  }
  .one-third.column{
    width: 100%;
    margin-left: 0px;
  }
  .contact-intro{
      padding-bottom: 20px;
  }

  .below-header{
      padding-top: 120px;
  }
    .two.columns{
      width: 25%;

  }

}

/* Larger than tablet */
@media (min-width: 750px) {
    .below-header{
        padding-top:120px;
    }
    .contact-intro{
        padding-bottom:16px;
    }
    header{
        #menu{
            display: block;
            opacity: 1;
            height: auto;
            ul{
                float:right;
                margin: 0;
                margin-top: 5px;
                li{
                    display: inline-block;
                    float: left;
                    min-height: 1px;
                    vertical-align: middle;
                    padding: 27px 8px;
                    margin-bottom: 0;
                    border-bottom: none;

                }
            }
        }
    }
    .show-menu{
        display: none;
    }
  .three.columns{
    width: 25%;
    padding: 20px;
  }

}

/* Larger than desktop */
@media (min-width: 1025px) {
  .three.columns{
    width: 25%;
    padding: 25px 80px 5px 80px;
    margin-bottom: 20px;
  }

  .instagram{
    padding: 0px 80px 0px 80px;
  }

  .one-third.column{
    width: 33.3333%;
    margin-left: 0px;
  }
  .six.columns.footer1{
    width: 100%;
    margin-left: 0px;
    .footerparts{
      //margin-top: 0px;
      //margin-bottom: 1px;
      &:first-child {
        margin-top: 0px;
      }
    }
  }

  header #menu ul li{
      padding: 27px 20px;
  }



}
