@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf); }

header #logo {
  text-indent: -999rem;
  padding: 0;
  background-size: cover;
  margin-top: 5px;
  margin-left: 20px;
  width: 150px;
  height: 58px;
  margin-bottom: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s; }

header h1 {
  float: left; }

/*MEDIA QUERIES */
/* Larger than mobile */
/* Larger than tablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
