@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf); }

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf); }

.clear {
  content: " ";
  display: table;
  clear: both; }

h1, h2, h3, h4 {
  font-family: LANEAR;
  text-transform: uppercase; }

.attachment-post-thumbnail {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.header-image {
  height: 450px;
  width: 100%;
  overflow: hidden;
  position: relative; }

body {
  background-color: #fff;
  margin: 0px; }

p {
  color: black; }

body, html {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.66);
  z-index: 2; }
  header #logo {
    text-indent: -999rem;
    padding: 0;
    background-size: cover;
    margin-top: 5px;
    margin-left: 20px;
    width: 200px;
    height: 79px;
    margin-bottom: 5px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    z-index: 2; }
  header h1 {
    float: left; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  opacity: 1;
  height: auto; }

#menu {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden; }

.show-menu {
  display: block;
  text-align: right;
  padding-top: 25px;
  padding-right: 17px;
  vertical-align: middle; }

nav ul {
  margin-top: 20px;
  list-style: none;
  padding-right: 25px; }
  nav ul li {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 9px 0; }
    nav ul li a {
      color: #fff; }
      nav ul li a:hover {
        color: pink; }

/* ---- Offers ----*/
.offer-picture {
  border-radius: 50%; }

.offer {
  margin: auto;
  padding: 20px 60px 10px 60px; }
  .offer img {
    width: 100%;
    height: 100%; }
  .offer .offer-header {
    color: black;
    font-family: LANEAR, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .offer .offer-text {
    color: black;
    font-family: LANEAR, sans-serif;
    font-size: 18px;
    text-align: center; }

.size-new-size {
  border-radius: 50%; }

/* ---- End Offers ----*/
/* ---- Introduction ---- */
.introduction {
  background-color: #86e9cb; }
  .introduction p {
    padding: 50px;
    text-align: center;
    margin-bottom: 0px;
    color: black;
    font-family: LANEAR, sans-serif;
    font-size: 18px;
    color: white; }
  .introduction .intro-header {
    color: black;
    font-family: LANEAR, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-size: 25px; }

.icons {
  width: 40px; }
  .icons:hover {
    cursor: pointer; }

.social-media {
  text-align: center;
  margin-top: 10px; }
  .social-media a {
    padding: 5px; }

.instagram {
  display: none;
  padding: 0px 20px 0px 20px; }

/* ---- End Introduction ---- */
/* ---- Contact ----*/
.below-header {
  padding-top: 90px; }

.contact {
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 18px; }
  .contact .header-text {
    padding-left: 10px; }
  .contact p {
    text-align: left; }
  .contact .contact-map {
    padding-top: 43px; }
  .contact label {
    font-size: 15px; }
  .contact .contact-intro {
    background-color: white; }
  .contact .map {
    pointer-events: none; }
  .contact .contact-info {
    background-color: #86e9cb;
    padding-top: 27px; }
    .contact .contact-info p {
      padding-left: 25px; }
  .contact h2 {
    text-align: center;
    color: white; }
  .contact .contact-map form {
    text-align: center; }
    .contact .contact-map form #submit {
      background-color: #86e9cb;
      color: white; }
  .contact .contact-map h3 {
    text-align: center;
    color: #86e9e4; }

/* ---- Footer ---- */
.footer {
  background-color: rgba(151, 255, 224, 0.2);
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 18px; }
  .footer img {
    display: block;
    margin: auto; }
  .footer a {
    color: black; }
  .footer .footer1:first-child {
    padding: 0px 30px 0px 30px;
    margin-top: 12px;
    margin-bottom: -20px; }
  .footer .footer-header {
    color: black;
    font-family: LANEAR, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 300px; }
  .footer li {
    list-style: none;
    text-align: center;
    margin-bottom: 0px; }
  .footer .footerparts:first-child {
    margin-top: 5px;
    margin-bottom: -28px; }

.contact-icon {
  width: 47px;
  padding-bottom: 5px; }

.contact-icon-large {
  width: 25px;
  padding-bottom: 4px; }

.copy {
  font-size: 10px;
  margin-bottom: 1px;
  text-align: center;
  background-color: white; }

/* ---- End Footer---- */
/*MEDIA QUERIES */
@media (min-width: 480px) {
  .instagram {
    display: block; }
  .social-media {
    margin-top: -40px; } }

/* Larger than mobile */
/* Tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .offer {
    padding: 20px; }
  .three.columns {
    width: 50%;
    padding: 20px 30px 10px 30px; }
  .instagram {
    padding: 0px 20px 0px 20px; }
  .one-third.column {
    width: 100%;
    margin-left: 0px; }
  .contact-intro {
    padding-bottom: 20px; }
  .below-header {
    padding-top: 120px; } }

/* Larger than tablet */
@media (min-width: 750px) {
  .below-header {
    padding-top: 120px; }
  .contact-intro {
    padding-bottom: 16px; }
  header #menu {
    display: block;
    opacity: 1;
    height: auto; }
    header #menu ul {
      float: right;
      margin: 0;
      margin-top: 5px; }
      header #menu ul li {
        display: inline-block;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        padding: 27px 8px;
        margin-bottom: 0;
        border-bottom: none; }
  .show-menu {
    display: none; } }

/* Larger than desktop */
@media (min-width: 1025px) {
  .three.columns {
    width: 25%;
    padding: 20px; }
  .instagram {
    padding: 0px 80px 0px 80px; }
  .one-third.column {
    width: 33.3333%;
    margin-left: 0px; }
  .six.columns.footer1 {
    width: 100%;
    margin-left: 0px; }
    .six.columns.footer1 .footerparts:first-child {
      margin-top: 0px; }
  header #menu ul li {
    padding: 27px 20px; } }
