@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf); }

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf); }

@font-face {
  font-family: Ke-aloha;
  src: url(../fonts/Ke-Aloha.ttf); }

@font-face {
  font-family: Mawns;
  src: url(../fonts/Mawns_Handwriting.ttf); }

@font-face {
  font-family: Dancing;
  src: url(../fonts/DancingScript-Regular.ttf); }

@font-face {
  font-family: Debby;
  src: url(../fonts/Debby.ttf); }

@font-face {
  font-family: Abra;
  src: url(../fonts/AbrahamLincoln.ttf); }

@font-face {
  font-family: Waterlily;
  src: url(../fonts/Waterlily%20Script.otf); }

@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNext.otf); }

@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.otf); }

@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf); }

@font-face {
  font-family: Ruffle;
  src: url(../fonts/Ruffle%20Beauty.otf); }

.clear {
  content: " ";
  display: table;
  clear: both; }

h1, h2, h3 {
  font-family: OpenSans;
  text-transform: uppercase;
  text-align: center; }

h2.header-text {
  font-family: Abra, sans-serif;
  text-transform: none;
  text-align: center;
  font-size: 5rem; }
  h2.header-text p {
    text-align: center; }

.attachment-post-thumbnail {
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1; }

.header-image {
  height: 281px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px; }

body {
  background-color: #fff;
  margin: 0px; }

p {
  color: black; }

body, html {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  background: black;
  z-index: 2; }
  header #desktop-menu {
    display: none; }
  header #logo {
    text-indent: -999rem;
    padding: 0;
    background-size: cover;
    margin-top: 5px;
    margin-left: 20px;
    width: 200px;
    height: 79px;
    margin-bottom: 5px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    z-index: 2;
    display: inline-block; }
  header h1 {
    text-align: left; }

#show-menu {
  top: 30px;
  right: 22px;
  position: absolute; }

.show-menu {
  display: none;
  text-align: right;
  padding-top: 25px;
  padding-right: 17px;
  vertical-align: middle; }

#menu ul {
  display: none;
  list-style: none;
  padding-right: 20px; }
  #menu ul li {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 9px 0; }
    #menu ul li a {
      color: #fff; }
      #menu ul li a:hover {
        color: pink; }
      #menu ul li a::after {
        content: "";
        position: absolute;
        bottom: 24px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
        opacity: 0.78;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }

/* ---- Offers ----*/
.offer-picture {
  border-radius: 50%; }

.offer {
  margin: auto;
  padding: 20px 60px 10px 60px; }
  .offer img {
    width: 100%;
    height: 100%; }
  .offer .offer-header {
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 21px;
    border-bottom: 1px solid #86e9cb;
    text-transform: uppercase;
    text-align: center; }
  .offer .offer-text {
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    text-align: center; }

.size-new-size {
  border-radius: 50%; }

/* ---- End Offers ----*/
/* ---- Introduction ---- */
.introduction {
  background-color: #86e9cb; }
  .introduction p {
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-bottom: 0px;
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    color: white; }
  .introduction h2 {
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 21px;
    border-bottom: 1px solid #86e9cb;
    text-transform: inherit;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px; }
  .introduction .intro-header {
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 21px;
    border-bottom: 1px solid #86e9cb;
    color: white;
    font-size: 25px; }

.icons {
  width: 40px; }
  .icons:hover {
    cursor: pointer; }

.social-media {
  text-align: center;
  margin-top: 30px; }
  .social-media a {
    padding: 5px; }

.social-media2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px; }
  .social-media2 a {
    padding: 5px; }

.instagram {
  display: none;
  padding: 0px 20px 0px 20px; }

/* ---- End Introduction ---- */
/* ---- About ---- */
.about-employee {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  transition: opacity 200ms ease-in-out;
  -webkit-transition: opacity 200ms ease-in-out; }
  .about-employee:hover {
    opacity: 0.8; }
  .about-employee h2 {
    font-size: 1.2em;
    display: inline; }
  .about-employee .about-employee-img {
    min-width: 150px;
    min-height: 150px;
    width: 50%;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    border-radius: 50%; }

/* ---- End About ---- */
.title-line {
  height: 1px;
  border-top: 1px solid grey;
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 5%; }

/* ---- Services ---- */
.services {
  margin: 0 auto; }
  .services .header-text {
    padding-left: 10px; }
  .services .service {
    color: black;
    font-family: Avenir, sans-serif;
    font-size: 18px;
    text-align: left;
    position: relative;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    padding: 20px;
    border-bottom: 4px solid white;
    background-color: #FFD1DC; }
    .services .service:hover {
      opacity: 0.8; }
    .services .service h2 {
      font-size: 1.2em;
      display: inline; }
      .services .service h2::after {
        content: '';
        display: block;
        width: 179px;
        height: 2px;
        background: #86e9cb;
        margin: 7px 0 12px 0; }
    .services .service .service-img {
      height: 50vw;
      max-width: 100%;
      max-height: 100%;
      background-size: cover;
      background-position: center center;
      border: 4px solid #fff;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      margin-bottom: 14px; }

/* ---- End Services ---- */
/* ---- Contact ----*/
.below-header {
  padding-top: 90px; }

.contact {
  color: black;
  font-family: Avenir, sans-serif;
  font-size: 18px; }
  .contact p {
    text-align: center; }
  .contact .contact-map {
    padding-top: 43px; }
  .contact label {
    font-size: 15px; }
  .contact .contact-intro {
    background-color: white; }
  .contact .map {
    pointer-events: none; }
  .contact .contact-info {
    background-color: #86e9cb;
    padding: 27px 0; }
    .contact .contact-info p {
      padding-left: 25px;
      text-align: center;
      color: white; }
  .contact h2 {
    text-align: center;
    color: white; }
  .contact .contact-form form {
    width: 300px;
    text-align: center;
    margin: 0 auto; }
    .contact .contact-form form #submit {
      background-color: white;
      color: #86e9cb; }
    .contact .contact-form form input, .contact .contact-form form textarea {
      width: 100%;
      font-family: LANEAR, sans-serif; }
    .contact .contact-form form textarea {
      margin-bottom: 5px; }
  .contact .contact-form h2 {
    text-align: center;
    color: white; }

/* ---- Footer ---- */
.footer {
  background-color: rgba(151, 255, 224, 0.2);
  color: black;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
  margin-bottom: 0px; }
  .footer img {
    display: block;
    margin: auto; }
  .footer a {
    color: black; }
  .footer .footer1:first-child {
    padding-bottom: 20px; }
  .footer .footer-header {
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 21px;
    border-bottom: 1px solid #86e9cb;
    text-transform: uppercase;
    margin-right: 300px; }
  .footer li {
    list-style: none;
    text-align: center;
    margin-bottom: 0px; }
  .footer .footerparts:first-child {
    margin-top: 5px;
    margin-bottom: -28px; }
    .footer .footerparts:first-child p {
      margin-bottom: 0px; }

.contact-icon {
  width: 47px;
  padding-bottom: 5px; }

.contact-icon-large {
  width: 25px;
  padding-bottom: 4px; }

.copy {
  font-size: 10px;
  margin-bottom: 1px;
  text-align: center;
  background-color: white; }

/* ---- End Footer---- */
/* ---- About---- */
.about-us {
  width: 85%;
  display: block;
  margin: auto; }

.employes {
  padding: 10px 10px 10px 10px; }

.workers {
  padding: 8px 8px 0px 8px;
  margin-left: 0px;
  width: 50%; }
  .workers img {
    width: 100%;
    height: 100%;
    box-shadow: inset 2px 2px 2px 2px #CCC; }
  .workers p {
    margin-bottom: 5px;
    text-align: center;
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 18px; }
  .workers li {
    list-style: none;
    color: black;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center; }
    .workers li:first-child {
      font-size: 17px;
      border-top: 2px solid #86e9e4;
      padding-bottom: 5px;
      padding-top: 5px; }
    .workers li:nth-child(2) {
      font-size: 15px; }
    .workers li:last-child {
      font-size: 14px; }

h2 {
  padding-top: 20px;
  text-align: center; }

.instagramflow ul {
  display: inline-block;
  width: 100%; }

.instagramflow li {
  width: 100%;
  padding: 20px; }
  .instagramflow li li {
    width: 100px; }

/* ---- End About---- */
@media (min-width: 330px) {
  h5 {
    font-size: 35px; } }

/*MEDIA QUERIES */
@media (min-width: 480px) {
  .instagram {
    display: block; }
  .social-media {
    margin-top: -40px; } }

/* Larger than mobile */
@media (min-width: 340px) {
  .about-employee {
    width: 50%; } }

/* Tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .offer {
    padding: 20px; }
  .three.columns {
    width: 50%; }
  .instagram {
    padding: 0px 20px 0px 20px; }
  .one-third.column {
    width: 100%;
    margin-left: 0px; }
  .contact .six.columns {
    margin-left: 0; }
  .contact .contact-intro {
    padding-bottom: 20px; }
  .contact .form form {
    width: 250px; }
  .below-header {
    padding-top: 100px; }
  .two.columns {
    width: 25%; }
  .services .service {
    width: 50%;
    margin-left: 0; }
    .services .service:first-child {
      border-right: 2px solid white; }
    .services .service:nth-child(2) {
      border-left: 2px solid white; }
    .services .service:nth-child(3) {
      border-right: 2px solid white; }
    .services .service:nth-child(4) {
      border-left: 2px solid white; }
    .services .service:nth-child(5) {
      border-right: 2px solid white; }
    .services .service:nth-child(6) {
      border-left: 2px solid white; }
    .services .service .service-img {
      height: 170px; }
  .employes {
    padding: 10px 10px 10px 10px; }
  h5 {
    font-size: 52px; }
  .six.columns {
    margin-left: 0px;
    width: 50%; } }

/* Larger than tablet */
@media (min-width: 750px) {
  .below-header {
    padding-top: 100px; }
  .header-image {
    height: 450px; }
  .services {
    margin: 0 auto; }
    .services .service .service-img {
      height: 220px; }
  .contact-intro {
    padding-bottom: 16px; }
  #show-menu {
    display: none; }
  header #desktop-menu {
    display: block;
    opacity: 1;
    height: auto; }
    header #desktop-menu ul {
      position: absolute;
      right: 20px;
      top: 5px; }
      header #desktop-menu ul li {
        font-family: lato, sans-serif;
        text-transform: uppercase;
        display: inline-block;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        padding: 27px 13px;
        margin-bottom: 0;
        border-bottom: none; }
        header #desktop-menu ul li a {
          color: #fff; }
          header #desktop-menu ul li a:hover {
            color: pink; }
  .show-menu {
    display: none; }
  .three.columns {
    width: 25%; } }

/* Larger than desktop */
@media (min-width: 1025px) {
  .header-image {
    height: 580px; }
    .header-image h3 {
      font-family: OpenSans;
      text-transform: none;
      text-align: center;
      z-index: 100;
      position: absolute;
      bottom: 8px;
      left: 27px;
      background: rgba(0, 0, 0, 0.26);
      padding: 10px;
      /* border-radius: 5px; */
      color: white;
      text-shadow: -1px -1px 0 #948C8C, 1px -1px 0 #7D7C7C, -1px 1px 0 #464444, 1px 1px 0 #212121;
      font-size: 5rem; }
      .header-image h3 p {
        color: white;
        margin-bottom: 0; }
  .employes {
    padding: 10px 10px 10px 10px; }
  .three.columns {
    width: 25%; }
  .instagram {
    padding: 0px 80px 0px 80px; }
  .one-third.column {
    width: 33.3333%;
    margin-left: 0px; }
  .six.columns.footer1 {
    width: 100%;
    margin-left: 0px; }
    .six.columns.footer1 .footerparts:first-child {
      margin-top: 0px; }
  header #menu ul li {
    padding: 27px 20px; }
  .services .service {
    width: 33.3333%; }
    .services .service:nth-child(2) {
      border-right: 4px solid white; }
    .services .service .service-img {
      height: 230px; }
  .contact .form form {
    width: 425px; } }
