@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf);
}


@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf);
}


@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf);
}

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf);
}

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf);
}

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf);
}

.clear{
  content: " ";
  display: table;
  clear: both;
  }

$text-color: #fff;
$background-color: #fff;
$green : #86e9cb;
$blue: #86e9e4;
$pink: #fab2e7;

@mixin p-text{
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 18px;
}
@mixin p-header-text{
  color: black;
  font-family: LANEAR, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.attachment-post-thumbnail{
  width: 100%;
  height: 100%;
}
body{
  background-color: $background-color;
  margin: 0px;
}

p{
  color: black;
}

body, html{
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.48);
    z-index: 2;
    #logo {
        text-indent: -999rem;
        padding: 0;
        background-size: cover;
        margin-top: 5px;
        margin-left: 20px;
        width: 165px;
        height: 63px;
        margin-bottom: 5px;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        z-index: 2;
    }
    h1 {
        float: left;
    }
}


/*Hide checkbox*/
input[type=checkbox]{
   display: none;

}

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu{
    //display: block;
    opacity: 1;
    height: auto;
}

#menu {
    //display: none;
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}



.show-menu {
    display: block;
    text-align: right;
    padding-top: 25px;
    padding-right: 17px;
    vertical-align: middle;
}

nav ul{
    margin-top: 20px;
    list-style: none;
    padding-right: 25px;
    li{
        font-family: lato, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 0 25px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.42);
        padding: 9px 0;
        a{
            color: $text-color;;
            &:hover{
                color:pink;
            }
        }

    }
}

/* ---- Offers ----*/

.offer-picture{
  border-radius: 50%;
}

.offer{
  margin: auto;
  padding: 20px 60px 10px 60px;

  .offer-header{
    @include p-header-text;
    text-transform: uppercase;
    text-align: center;
  }

  .offer-text{
    @include p-text;
    text-align: center;
  }
}
/* ---- End Offers ----*/

/* ---- Introduction ---- */

.intro{
  background-color: $green;
  padding: 50px;
  text-align: center;
  margin-bottom: 0px;
  @include p-text;
  color: white;

  .intro-header{
    @include p-header-text;
    color: white;
    font-size: 25px;
  }

}

.icons{
  width: 40px;
  &:hover{
    cursor: pointer;
  }
}
.social-media{
  text-align: center;
  a{
    padding: 5px;
  }
}

.instagram{
  display: none;
  padding: 0px 20px 0px 20px;
}

/* ---- End Introduction ---- */

/*MEDIA QUERIES */
@media (min-width: 480px) {
.instagram{
  display: block;
}
}

/* Larger than mobile */
@media (min-width: 400px) {

  }

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .offer{
    padding: 20px;
  }
  .three.columns{
    width: 50%;
    padding: 20px 30px 10px 30px;
  }

  .instagram{
    padding: 0px 20px 0px 20px;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {
    header{
        #menu{
            display: block;
            opacity: 1;
            height: auto;
            ul{
                float:right;
                margin: 0;
                margin-top: 5px;
                li{
                    display: inline-block;
                    float: left;
                    min-height: 1px;
                    vertical-align: middle;
                    padding: 20px;
                    margin-bottom: 0;
                    border-bottom: none;

                }
            }
        }
    }
    .show-menu{
        display: none;
    }

}

/* Larger than desktop */
@media (min-width: 1025px) {
  .three.columns{
    width: 25%;
    padding: 20px;
  }

  .instagram{
    padding: 0px 80px 0px 80px;
  }

}
