@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf);
}


@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf);
}


@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf);
}

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf);
}

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf);
}

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf);
}

@font-face {
  font-family: lato;
  src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: Ke-aloha;
  src: url(../fonts/Ke-Aloha.ttf);
}
@font-face {
  font-family: Mawns;
  src: url(../fonts/Mawns_Handwriting.ttf);
}
@font-face {
  font-family: Dancing;
  src: url(../fonts/DancingScript-Regular.ttf);
}
@font-face {
  font-family: Debby;
  src: url(../fonts/Debby.ttf);
}
@font-face {
  font-family: Abra;
  src: url(../fonts/AbrahamLincoln.ttf);
}
@font-face {
  font-family: Waterlily;
  src: url(../fonts/Waterlily%20Script.otf);
}
@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNext.otf);
}
@font-face {
  font-family: Avenir;
  src: url(../fonts/Avenir.otf);
}
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: Ruffle;
  src: url(../fonts/Ruffle%20Beauty.otf);
}

.clear{
  content: " ";
  display: table;
  clear: both;
  }

$text-color: #fff;
$background-color: #fff;
$green : #86e9cb;
$blue: #86e9e4;
$pink: #FFD1DC;
$lightgreen : #97ffe0;

@mixin p-text{
  color: black;
  font-family: OpenSans, sans-serif;
  font-size: 18px;
}
@mixin p-text-small{
  color: black;
  font-family: Avenir, sans-serif;
  font-size: 18px;
}
@mixin p-header-text{
  color: black;
  font-family: OpenSans, sans-serif;
  font-size: 21px;
  border-bottom: 1px solid $green;
}

h1, h2, h3{
    font-family: OpenSans;
    text-transform: uppercase;
    text-align: center;
}

h2.header-text{
    font-family: Abra, sans-serif;
    text-transform: none;
    text-align: center;
    font-size: 5rem;
    p{
        text-align: center;
    }
}


.attachment-post-thumbnail{
  width: 100%;
  height: auto;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.header-image{
  height: 281px;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  margin-bottom: 20px;

}

body{
  background-color: $background-color;
  margin: 0px;
}

p{
  color: black;
}

body, html{
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    width: 100%;
    //background: rgba(0, 0, 0, 0.66);
    background: black;
    z-index: 2;
    #desktop-menu{
        display: none;
    }
    #logo {
        text-indent: -999rem;
        padding: 0;
        background-size: cover;
        margin-top: 5px;
        margin-left: 20px;
        //width: 165px;
        width: 200px;
        //height: 63px;
        height: 79px;
        margin-bottom: 5px;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
        z-index: 2;
        display: inline-block;
    }
    h1 {
        text-align: left;
    }
}



#show-menu{
    top: 30px;
    right: 22px;
    position: absolute;
}


.show-menu {
    display: none;
    text-align: right;
    padding-top: 25px;
    padding-right: 17px;
    vertical-align: middle;
}

#menu ul{
    display: none;
    list-style: none;
    padding-right: 20px;
    li{
        font-family: lato, sans-serif;
        text-transform: uppercase;
        font-weight: 300;
        margin: 0 0 0 25px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.42);
        padding: 9px 0;
        a{
            color: $text-color;;
            &:hover{
                color:pink;
            }
          &::after {
            content: "";
            position: absolute;
            bottom: 24px;
            height: 1px;
            width: 0%;
            left: 50%;
            background-color: white;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=78);
            opacity: 0.78;
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
          }
        }

    }
}

/* ---- Offers ----*/

.offer-picture{
  border-radius: 50%;
}

.offer{
  margin: auto;
  padding: 20px 60px 10px 60px;
  img{
    width: 100%;
    height: 100%;
  }

  .offer-header{
    @include p-header-text;
    text-transform: uppercase;
    text-align: center;
  }

  .offer-text{
    @include p-text;
    text-align: center;
  }
}

.size-new-size{
  border-radius: 50%;
}
/* ---- End Offers ----*/

/* ---- Introduction ---- */

.introduction{
  background-color: $green;
  p {
    padding: 0px 50px 0px 50px;
    text-align: center;
    margin-bottom: 0px;
    @include p-text;
    color: white;
  }
  h2{
    @include p-header-text;
    text-transform: inherit;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 0px;

  }

  .intro-header{
    @include p-header-text;
    color: white;
    font-size: 25px;
    }
}


.icons{
  width: 40px;
  &:hover{
    cursor: pointer;
  }
}
.social-media{
  text-align: center;
  margin-top: 30px;
  a{
    padding: 5px;
  }
}
.social-media2{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  a{
    padding: 5px;
  }
}
.instagram{
  display: none;
  padding: 0px 20px 0px 20px;
}

/* ---- End Introduction ---- */

/* ---- About ---- */
.about-employee{
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
    transition: opacity 200ms ease-in-out;
    -webkit-transition: opacity 200ms ease-in-out;
    &:hover{
      opacity: 0.8;
    }
  h2{
    font-size: 1.2em;
    display:inline;
  }
  .about-employee-img{
    min-width: 150px;
    min-height: 150px;
    width: 50%;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
    border-radius: 50%;
    }
}

/* ---- End About ---- */
.title-line {
  height: 1px;
  border-top: 1px solid grey;
  position: absolute;
  left: 70px;
  right: 0;
  bottom: 5%;
}
/* ---- Services ---- */
.services{
    //max-width: 1050px;
    margin: 0 auto;
    .header-text{
        padding-left: 10px;
    }
    .service{
        @include p-text-small;
          text-align: left;
          position: relative;
          transition: opacity 200ms ease-in-out;
          -webkit-transition: opacity 200ms ease-in-out;
          padding: 20px;
          border-bottom: 4px solid white;
          background-color: $pink;

        &:hover{
          opacity: 0.8;
        }
      h2{
          font-size: 1.2em;
          display:inline;
        &::after{
            content: '';
            display: block;
            width: 179px;
            height: 2px;
            background: $green;
            margin: 7px 0 12px 0;
        }
      }
      .service-img{
        height: 50vw;
        max-width: 100%;
        max-height: 100%;
        background-size: cover;
        background-position: center center;
        border: 4px solid #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.30);
        margin-bottom: 14px;
        }

    }
}


/* ---- End Services ---- */

/* ---- Contact ----*/
.below-header{
    padding-top: 90px;
}

.contact{
    @include p-text-small;
    p{
        text-align: center;
    }
    .contact-map{
        padding-top: 43px;
    }
    label{
        font-size: 15px;
    }
    .contact-intro{
        background-color: white;
    }

    .map{
        pointer-events: none;
    }
    .contact-info{
        background-color: #86e9cb;
        padding: 27px 0;
        p{
            padding-left: 25px;
            text-align: center;
            color: white;
        }
    }
    h2{
        text-align: center;
        color: white;
    }
    .contact-form{
        form{
            width: 300px;
            text-align: center;
            margin: 0 auto;
            #submit{
                background-color:white;
                color:$green;
            }
            input, textarea{
                width: 100%;
                font-family: LANEAR, sans-serif;

            }
            textarea{
                margin-bottom: 5px;
            }
        }
        h2{
            text-align: center;
            color: white;
        }
    }


}

/* ---- Footer ---- */

.footer{
  img{
    display: block;
    margin: auto;
  }
  a{
    color: black;
  }
  background-color: rgba(151, 255, 224, 0.2);
  //background-color: rgba(134, 233, 224,1);
  .footer1{
    &:first-child {
      padding-bottom: 20px;
    }
  }
  .footer-header{
    @include p-header-text;
    text-transform: uppercase;
    //border-top: 5px solid $blue;
    margin-right: 300px;

  }
  @include p-text;
  margin-bottom: 0px;
  li{
    list-style: none;
    text-align: center;
    margin-bottom: 0px;
  }

  .footerparts{
    &:first-child {
      margin-top: 5px;
      margin-bottom: -28px;
      p{
        margin-bottom: 0px;
      }
    }
  }
}
.contact-icon{
  width: 47px;
  padding-bottom: 5px;
}
.contact-icon-large{
  width: 25px;
  padding-bottom: 4px;
}
.copy{
  font-size: 10px;
  margin-bottom: 1px;
  text-align: center;
  background-color: white;
}
/* ---- End Footer---- */

/* ---- About---- */

.about-us{
  width: 85%;
  display: block;
  margin: auto;
}

.employes{
  padding: 10px 10px 10px 10px;
}
  .workers{
    //background-color: rgba(151, 255, 224, 0.6);
    //background: -webkit-radial-gradient(center, ellipse cover, #fcfff3 0%, #d2fce4 100%);
    padding: 8px 8px 0px 8px;
    margin-left: 0px;
    width: 50%;
    img {
      width:100%;
      height:100%;
      box-shadow: inset 2px 2px 2px 2px #CCC;
    }
    p{
      margin-bottom: 5px;
      text-align: center;
      @include p-text;
    }
    li{
      list-style: none;
      @include p-text;
      margin-bottom: 0px;
      text-align: center;
      &:first-child{
        font-size: 17px;
        border-top: 2px solid $blue;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      &:nth-child(2){
        font-size: 15px;
      }
      &:last-child{
        font-size: 14px;
      }
    }
  }
  h2{
    padding-top: 20px;
    text-align: center;
  }


.instagramflow{
  ul{
    display: inline-block;
    width: 100%;

  }
  li{
    width: 100%;
    padding: 20px;
    li{
      width: 100px;
    }
  }

}

/* ---- End About---- */
@media (min-width: 330px) {
  h5{
    font-size: 35px;
  }
}


/*MEDIA QUERIES */
@media (min-width: 480px) {
.instagram{
  display: block;
}
  .social-media{
    margin-top: -40px;
  }
}

/* Larger than mobile */
@media (min-width: 340px) {
  .about-employee{
    width: 50%;
  }
  }

/* Tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .offer{
    padding: 20px;
  }
  .three.columns{
    width: 50%;
    //padding: 0px 30px 10px 30px;
  }

  .instagram{
    padding: 0px 20px 0px 20px;
  }
  .one-third.column{
    width: 100%;
    margin-left: 0px;
  }
  .contact{
      .six.columns{
          margin-left: 0;
      }
      .contact-intro{
          padding-bottom: 20px;
      }
      .form form{
          width: 250px;;
      }
  }


  .below-header{
      padding-top: 100px;
  }

    .two.columns{
      width: 25%;

  }

  .services{
      .service{
          width: 50%;
          margin-left: 0;
          &:first-child{
            border-right: 2px solid white;
          }
        &:nth-child(2){
          border-left: 2px solid white;
        }
        &:nth-child(3){
          border-right: 2px solid white;
        }
        &:nth-child(4){
          border-left: 2px solid white;
        }
        &:nth-child(5){
          border-right: 2px solid white;
        }
        &:nth-child(6){
          border-left: 2px solid white;
        }
          .service-img{
              height: 170px;
          }
      }

  }
  .employes{
    padding: 10px 10px 10px 10px;
  }
  h5{
    font-size: 52px;
  }

  .six.columns{
    margin-left: 0px;
    width: 50%;
  }


}

/* Larger than tablet */
@media (min-width: 750px) {
    .below-header{
        padding-top:100px;
    }
    .header-image{
        height: 450px;
    }
    .services{
        //max-width: 1200px;
        margin: 0 auto;
        .service{
            .service-img{
                height: 220px;
            }
        }
    }
    .contact-intro{
        padding-bottom:16px;
    }

    #show-menu{
        display: none;
    }

    header{
        #desktop-menu{
            display: block;
            opacity: 1;
            height: auto;
            ul{
                position: absolute;
                right: 20px;
                top: 5px;
                li{
                    font-family: lato, sans-serif;
                    text-transform: uppercase;
                    display: inline-block;
                    float: left;
                    min-height: 1px;
                    vertical-align: middle;
                    padding: 27px 13px;
                    margin-bottom: 0;
                    border-bottom: none;
                    a{
                        color: $text-color;;
                        &:hover{
                            color:pink;
                        }
                    }

                }
            }
        }
    }
    .show-menu{
        display: none;
    }
  .three.columns{
    width: 25%;
    //padding: 20px;
  }

}

/* Larger than desktop */
@media (min-width: 1025px) {
    .header-image{
        height: 580px;
        h3{
            font-family: OpenSans;
            text-transform: none;
            text-align: center;
            z-index: 100;
            position: absolute;
            bottom: 8px;
            left: 27px;
            background: rgba(0, 0, 0, 0.26);
            padding: 10px;
            /* border-radius: 5px; */
            color: white;
            text-shadow: -1px -1px 0 #948C8C, 1px -1px 0 #7D7C7C, -1px 1px 0 #464444, 1px 1px 0 #212121;
            font-size: 5rem;
            p{
                color: white;
                margin-bottom: 0;
            }
        }
    }

  .employes{
    padding: 10px 10px 10px 10px;
  }
  .three.columns{
    width: 25%;
    //padding: 0px 30px 5px 30px;
   // margin-bottom: 20px;
  }

  .instagram{
    padding: 0px 80px 0px 80px;
  }

  .one-third.column{
    width: 33.3333%;
    margin-left: 0px;
  }
  .six.columns.footer1{
    width: 100%;
    margin-left: 0px;
    .footerparts{
      //margin-top: 0px;
      //margin-bottom: 1px;
      &:first-child {
        margin-top: 0px;
      }
    }
  }

  header #menu ul li{
      padding: 27px 20px;
  }

  .services{
      .service{
          width: 33.3333%;
        &:nth-child(2){
          border-right: 4px solid white;
        }

          .service-img{
              height: 230px;
          }
      }
  }

  .contact{
      .form form{
          width: 425px;
      }
  }



}
