@font-face {
  font-family: LANEAR;
  src: url(fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(fonts/Foglihten-068.otf); }

h1, h2, h3, h4 {
  font-family: Fog, sans-serif; }

.white-box {
  background: white; }

img {
  max-width: 100%;
  height: auto; }

.row {
  text-align: center;
  margin-top: 30px; }

.panel-grid {
  padding: 30px 0; }

.panel-grid-cell p {
  padding: 0 30px; }

.center {
  text-align: center;
  padding-top: 10px; }

.wp-post-image, .attachment-banner-image {
  max-width: 100%;
  height: auto; }

#content p {
  padding: 0 20px; }

#content .image-p {
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: Gudea, sans-serif;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.81);
  text-align: center; }

body p, .main p, .container p {
  font-family: Gudea, sans-serif;
  text-align: center;
  font-size: 1.8rem; }

body p a, .widget li a, h2 a {
  color: #f16325; }

body p a:hover, .widget li a:hover, h2 a:hover {
  color: #ef9770; }

#header-image {
  overflow: hidden;
  background-position: left;
  background-size: cover;
  background-position: right -360px center;
  background-image: url("images/header.jpg");
  height: 400px;
  width: 100%;
  margin: 0;
  padding-bottom: 0; }

.footer {
  border-top: 1px solid #bbb;
  padding-top: 10px;
  background: #f7f7f7;
  padding-top: 30px;
  font-family: sans-serif; }

.footer p {
  font-size: 1.5rem;
  text-align: center; }

.footer li {
  list-style: none; }

.news-title, .widget-headline, #h2-single {
  padding-top: 20px; }

.post-info, #post-info {
  font-style: italic;
  font-size: 1.5rem; }

#logo {
  text-align: center;
  font-family: GeosansLight, sans-serif;
  color: #f16325;
  max-width: 100%;
  padding-top: 10px; }

.logo-text-first {
  font-family: GeosansLight, sans-serif;
  color: #f16325;
  text-transform: uppercase;
  font-weight: bold; }

.logo-text-second {
  font-family: GeosansLight, sans-serif;
  color: #f16325; }

#bold {
  font-weight: bold; }

#logo h1 a {
  text-decoration: none;
  color: #f16325; }

.main-nav {
  padding-bottom: 250px;
  padding-top: 5px;
  background: rgba(0, 0, 0, 0.53); }

.main-nav ul {
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 36%; }

.main-nav ul li {
  display: block;
  text-decoration: none;
  font-family: LANEAR, sans-serif;
  font-weight: bold;
  font-size: 2rem; }

.main-nav ul li a {
  text-transform: uppercase;
  color: #f16325; }

.main-nav a:hover {
  text-decoration: none;
  color: #f28250; }

.current-menu-item a, .current-menu-item a:hover {
  text-decoration: underline; }

#sidebar ul {
  list-style: none; }

#sidebar ul a {
  text-decoration: none;
  color: #f16325; }

.move-down {
  margin-top: 17%; }

#footer-nav {
  padding: 0;
  margin: 0; }

.small-width-content {
  width: 650px;
  margin-left: 150px; }

.show-menu {
  color: #fff;
  display: block; }

.show-menu img {
  padding-top: 10px; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

nav {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ nav {
  display: block; }

label {
  text-align: right;
  margin-right: 20px;
  font-size: 2em; }

/*MEDIA QUERIES */
/* Larger than mobile */
@media (min-width: 400px) {
  #logo {
    text-align: center;
    font-family: GeosansLight, sans-serif;
    color: #f16325;
    max-width: 100%;
    padding-top: 5px; }
  #logo h1 {
    font-size: 5rem; } }

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .hidden-mobile {
    display: block; }
  .hidden-tablet {
    display: none; }
  #sub-menu .children li {
    display: block; }
  #logo {
    text-align: center;
    font-family: GeosansLight, sans-serif;
    color: #f16325;
    max-width: 100%;
    font-size: 4rem;
    padding-top: 40px; }
  .main-nav {
    padding-bottom: 40px;
    padding-top: 10px;
    margin-top: 265px;
    background: rgba(0, 0, 0, 0.53);
    padding-left: 200px; }
  nav {
    display: block; }
  #header-image {
    background-size: cover;
    background-position: center;
    background-image: url("images/header.jpg");
    height: 450px;
    margin: 0;
    padding-bottom: 0; }
  .main-nav ul li {
    display: inline;
    text-decoration: none;
    padding: 10px;
    font-family: LANEAR, sans-serif;
    font-weight: bold;
    font-size: 2rem; }
  nav {
    max-height: 75px; }
  nav ul {
    text-align: right;
    display: block; }
  nav li {
    list-style: none;
    display: inline-block; }
  .show-menu, #show-menu {
    display: none; } }

/* Larger than tablet */
@media (min-width: 750px) {
  .hidden-tablet {
    display: block; }
  #logo {
    font-size: 8rem; }
  #header_image {
    background-position: left center;
    height: 380px;
    max-height: none;
    box-shadow: inset 0px 0px 100px 30px black, inset 615px 0px 180px 30px rgba(0, 0, 0, 0.84); }
  .show-menu, #show-menu {
    display: none; } }

/* Larger than desktop */
@media (min-width: 1025px) {
  .main-nav {
    padding-bottom: 40px;
    padding-top: 10px;
    margin-top: 265px;
    background: rgba(0, 0, 0, 0.53);
    padding-left: 0; } }

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  #header_image {
    height: 500px; } }
