@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf); }

.clear {
  content: " ";
  display: table;
  clear: both; }

.attachment-post-thumbnail {
  width: 100%;
  height: 100%; }

body {
  background-color: #fff;
  margin: 0px; }

p {
  color: black; }

body, html {
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0, 0.48); }
  header #logo {
    text-indent: -999rem;
    padding: 0;
    background-size: cover;
    margin-top: 5px;
    margin-left: 20px;
    width: 165px;
    height: 63px;
    margin-bottom: 5px;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    z-index: 2; }
  header h1 {
    float: left; }

/*Hide checkbox*/
input[type=checkbox] {
  display: none; }

/*Show menu when invisible checkbox is checked*/
input[type=checkbox]:checked ~ #menu {
  display: block; }

#menu {
  display: none; }

.show-menu {
  display: block;
  text-align: right;
  padding-top: 25px;
  padding-right: 17px;
  vertical-align: middle; }

nav ul {
  margin-top: 20px;
  list-style: none;
  padding-right: 25px; }
  nav ul li {
    font-family: lato, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 0 25px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.42);
    padding: 9px 0; }
    nav ul li a {
      color: #fff; }
      nav ul li a:hover {
        color: pink; }

/* ---- Offers ----*/
.offer-picture {
  border-radius: 50%; }

.offer {
  margin: auto;
  padding: 20px; }
  .offer .offer-header {
    color: #fff;
    font-family: LANEAR, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .offer .offer-text {
    color: #fff;
    font-family: LANEAR, sans-serif;
    font-size: 18px;
    text-align: center; }

/* ---- End Offers ----*/
/* ---- Introduction ---- */
.intro {
  background-color: #86e9cb;
  padding: 50px;
  text-align: center;
  color: #fff;
  font-family: LANEAR, sans-serif;
  font-size: 18px;
  color: white; }
  .intro .intro-header {
    color: #fff;
    font-family: LANEAR, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-size: 25px; }

/* ---- End Introduction ---- */
/*MEDIA QUERIES */
/* Larger than mobile */
/* Larger than tablet (also point when grid becomes active) */
/* Larger than tablet */
@media (min-width: 750px) {
  header #menu {
    display: block; }
    header #menu ul {
      float: right;
      margin: 0;
      margin-top: 5px; }
      header #menu ul li {
        display: inline-block;
        float: left;
        min-height: 1px;
        vertical-align: middle;
        padding: 20px;
        margin-bottom: 0;
        border-bottom: none; }
  .show-menu {
    display: none; } }

/* Larger than desktop */
