@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf);
}


@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf);
}


@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf);
}

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf);
}

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf);
}

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf);
}

$text-color: #333;
$background-color: #fff;
$green : #86e9cb;
$blue: #86e9e4;
$pink: #fab2e7;

@mixin p-text{
  color: $text-color;
  font-family: LANEAR, sans-serif;
  font-size: 18px;
}
@mixin p-header-text{
  color: $text-color;
  font-family: LANEAR, sans-serif;
  font-size: 20px;
  font-weight: bold;
}


.attachment-post-thumbnail{
  width: 100%;
  height: 100%;
}
body{
  background-color: $background-color;
  margin: 0px;
}

ul{
  li{
    list-style: none;
    a{
      color: $text-color;
    }
  }
}
p{
  color: black;
}

header #logo{
    text-indent: -999rem;
    padding: 0;
    background-size: cover;
    margin-top: 5px;
    margin-left: 20px;
    width: 150px;
    height: 58px;
    margin-bottom: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

header h1 {
    float: left;
    // font-size: 1.5em;
    // padding-top: 15px;
    // padding-left: 20px;
}

/* ---- Offers ----*/

.offer-picture{
  border-radius: 50%;
}

.offer{
  margin: auto;
  padding: 20px;

  .offer-header{
    @include p-header-text;
    text-transform: uppercase;
    text-align: center;
  }

  .offer-text{
    @include p-text;
    text-align: center;
  }
}
/* ---- End Offers ----*/

/* ---- Introduction ---- */

.intro{
  background-color: $green;
  padding: 50px;
  text-align: center;
  @include p-text;
  color: white;

  .intro-header{
    @include p-header-text;
    color: white;
    font-size: 25px;
  }

}

/* ---- End Introduction ---- */

/*MEDIA QUERIES */

/* Larger than mobile */
@media (min-width: 400px) {

  }

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1025px) {

}
