@font-face {
  font-family: LANEAR;
  src: url(../fonts/LANENAR_.ttf); }

@font-face {
  font-family: GeosansLight;
  src: url(../fonts/GeosansLight.ttf); }

@font-face {
  font-family: fash;
  src: url(../fonts/fashl954.ttf); }

@font-face {
  font-family: Gudea;
  src: url(../fonts/Gudea-Regular.ttf); }

@font-face {
  font-family: Serim;
  src: url(../fonts/SERIM___.ttf); }

@font-face {
  font-family: Fog;
  src: url(../fonts/Foglihten-068.otf); }

/*MEDIA QUERIES */
/* Larger than mobile */
/* Larger than tablet (also point when grid becomes active) */
/* Larger than tablet */
/* Larger than desktop */
